@charset "utf-8";

	#skip {position: relative;}
	#skip a {position: absolute; left: 0; top: -150px; width: 140px; border: 1px solid white; background: #333; color: white; text-align: center; line-height: 30px;}
	#skip a:active,
	#skip a:focus {top: 0;}


	#wrap {}
	#header {height: 150px;}
	#content {height: 650px; margin-top: 40px;}
	#footer {height: 150px;}

	.container {width: 1400px; height: inherit; margin: 0 auto; }

	.nav {width: 100%; margin-top: 40px;}
	.nav .logo {float: left;}
	.nav .logo a img {width: 200px;}

	.nav .navbar {float: left;}
	.nav .navbar ul {margin-left: 70px;}
	.nav .navbar ul li {display: inline; padding-right: 30px; font-family: 'Montserrat', sans-serif;}
	.nav .navbar ul li a {font-size: 28px; line-height: 80px;}

	.nav .login {float: left;}
	.nav .login ul {margin-left: 70px;}
	.nav .login ul li {display: inline; padding-right: 30px; font-family: 'Montserrat', sans-serif;}
	.nav .login ul li a {font-size: 28px; line-height: 80px; padding: 15px;}
	.nav .login ul li:last-child a {background: #5553b3; color: white; border-radius: 8px;}
	.nav .login ul li:last-child a:hover {background: #9bc8ff;}

	.maincont {width: 650px;position: relative;}
	.maincont .cont_wrap {margin-top: 100px;}
	.maincont .cont_wrap .title1 {display: inline; color: #2d2c62; font-size: 50px; font-family: 'Montserrat', sans-serif; font-weight: 700; margin-right: 18px;}
	.maincont .cont_wrap .title2 {display: inline; color: #fa676d; font-size: 50px; font-family: 'Montserrat', sans-serif; font-weight: 700;}
	.maincont .cont_wrap p {width: 450px; color: #6a6691; font-size: 20px; margin-top: 30px;}
	.maincont .cont_wrap .input_info {margin-top: 30px;}
	.maincont .cont_wrap .input_info input {padding: 10px 0 10px 0; border: none; width: 280px;}
	.maincont .cont_wrap .input_info button {background: #5553b3; color: white; border: none; border-radius: 5px; padding: 10px 30px; font-size: 18px; font-family: 'Montserrat', sans-serif;}

	.maincont .mainimg {position: absolute; left: 500px; top: -100px;}
	.maincont .mainimg img { width: 900px;}

	.sns {}
	.sns ul li a {float: left; display: inline-block; width: 65px; height: 65px; background: url(../img/socialmedia.png); margin-right: 20px;}
	.sns ul li a.icon1 {background-position: 0 0;}
	.sns ul li a.icon2 {background-position: -101px 0;}
	.sns ul li a.icon3 {background-position: -202px 0;}
	.sns ul li a.icon4 {background-position: -304px 0;}
	.sns ul li a.icon5 {background-position: -405px 0;}
	.sns ul li a.icon1:hover {background-position: 0 -65px;}
	.sns ul li a.icon2:hover {background-position: -101px -65px;}
	.sns ul li a.icon3:hover {background-position: -202px -65px;}
	.sns ul li a.icon4:hover {background-position: -304px -65px;}
	.sns ul li a.icon5:hover {background-position: -405px -65px;}


